@using System.Activities.Statements
@using System.Web.UI.WebControls
@using symptomSage.Domain.Enums
@using symptomSage.Extension
@using symptomSage.Models
@model symptomSage.Models.DoctorRegister
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
<style>
 .myTh
 {
    color: white;
    font-weight: bold;
    letter-spacing:.1em;
 }
 
 .addButton
 {
    background: transparent;
    padding: 1em;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    border: none;
    border-radius: .5em;
    transition:.5s all ease;
 }
 .addButton:hover
 {
    color: white;
    transition:.5s all ease;
 }
</style>

@{
       var user = System.Web.HttpContext.Current.GetMySessionObject();
       var checkUser = System.Web.HttpContext.Current.GetMySessionObject() != null;
       // if (checkUser)
       // {
       //     var user = System.Web.HttpContext.Current.GetMySessionObject();
       // }
       var checkUserRole = checkUser && System.Web.HttpContext.Current.GetMySessionObject().Level == URole.Admin;
    }
<section class="section">
    <div class="container-fluid">
        <div class="col">
            <button class="bg-primary text-right addButton" data-toggle="modal" data-target="#addSymptomModal">
                <i class="fa-solid fa-stethoscope text-danger"></i> Add doctor
            </button>
            
            <button class="bg-primary text-right addButton">
                <i class="fa-solid fa-user mr-1"></i>@user.Username
            </button>
            
            <button class="bg-primary text-right addButton">
                    <i class="fa-solid fa-bolt mr-1"></i>@ViewBag.nrOfDoctors doctori disponibili
            </button>

            <table style="border-radius: 1em;" class="mt-3 w-100 table bg-white">
                <thead class="bg-primary">
                <tr>
                    <th class="myTh" scope="col">ID</th>
                    <th class="myTh" scope="col">NAME</th>
                    <th class="myTh" scope="col">CATEGORY</th>
                    <th class="myTh" scope="col">DESCRIPTION</th>
                    <th class="myTh" scope="col">ACTIONS</th>
                </tr>
                </thead>
                <tbody >

                @foreach (var doctor in ViewBag.doctorList)
                {
                    <tr>
                        <th>@doctor.Id</th>
                        <th>@doctor.Name</th>
                        <th>@doctor.Category</th>
                        <th>@doctor.Desc</th>
                        <th>
                            <div style="display:flex;">
                            @using (Html.BeginForm("DeleteDoctor", "Doctors", FormMethod.Post))
                            {
                                <input type="hidden" value="@doctor.Id" name="symptomId">
                                <button type="submit" class="btn btn-warning mr-2">Edit</button>
                            }
                            @using (Html.BeginForm("DeleteDoctor", "Doctors", FormMethod.Post))
                            {
                                <input type="hidden" value="@doctor.Id" name="doctorId">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            }
                            </div>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="addSymptomModal">
    @using (Html.BeginForm("RegisterDoctor", "Doctors", FormMethod.Post))
           {
             @Html.AntiForgeryToken()
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title">
                             <i style="font-size:1.5em;" class="fa-solid fa-stethoscope mr-1 text-danger"></i>
                             Adauga un medic
                         </h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body">
                         @* <div class="mb-2 text-dark fw-bold" style="font-weight:bold;font-size:2em;"> *@
                         @*     <i class="fa-regular fa-hospital mr-1 text-dark"></i> symptomSage *@
                         @* </div> *@
                         <div class="pl-1 pr-1" style="display:flex;flex-direction:column;align-items: center;justify-content: center;border-radius: 1em;">
                             <div class="mb-3" style="margin-top:-.1em;letter-spacing:.1em;font-size:.8em;">INTRODU DENUMIREA, CATEGORIA</div>

                             <div class="form-group border-danger">
                                 @Html.TextBoxFor(model => model.Name, new
                                 {
                                     placeholder = "Denumire medic",
                                     value = "",
                                     name = "name",
                                     id = "name",
                                     @class = "form-control"
                                 })
                                 @Html.ValidationMessageFor(model => model.Name)
                                 @Html.TextBoxFor(model => model.Desc, new
                                   {
                                       placeholder = "Descriere",
                                       value = "",
                                       name = "desc",
                                       id = "desc",
                                       @class = "form-control mt-1"
                                   })
                                 @Html.TextBoxFor(model => model.Category, new { @class = "form-control mt-1", name = "category", placeholder = "Categorie", id = "category" })
                                 @Html.ValidationMessageFor(model => model.Category)
                             </div>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button style="border-radius:.5em" type="submit" class="btn btn-primary">Adauga medic</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                     </div>
                 </div>
             </div>
           }
</div>
<script>
    $('#addSymptomModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
</script>

