<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>symptomSage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script>
        $(document).ready(function () {
            $("#mySidenav").find('[href="' + window.location.pathname + '"]').parent().addClass('active');
        });
    </script>


    @Styles.Render("~/Content/templateCSS")
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    <link href="~/website2.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/653369ca55.js" crossorigin="anonymous"></script>

</head>

<body class="bg-primary" style="overflow:hidden;">
        @RenderBody()
        @Scripts.Render("~/bundles/templateScripts")
        @Scripts.Render("~/Scripts/templateScripts/app.js")
        @Scripts.Render("~/Scripts/templateScripts/bootstrap.bundle.min.js")
        @Scripts.Render("~/Scripts/templateScripts/counter.init.js")
        @Scripts.Render("~/Scripts/templateScripts/jquery.easing.min.js")
        @Scripts.Render("~/Scripts/templateScripts/jquery.min.js")
        @Scripts.Render("~/Scripts/templateScripts/scrollspy.min.js")
        @RenderSection("scripts", required: false)
</body>

</html>